<!-- структура html -->

<html>
    <head>
        <title>
            имя страницы для поисковика (невидимо для пользователя)
        </title>  
    </head>

    <body> 
        <header>
            самая верхняя видимая часть
        </header>

        <nav>
            навигационная часть страницы
        </nav>

        <main>
            основное содержимое страницы

            <article>  <!-- в html-4  это был div -->
                отдельный блок контента                
            </article>  <!-- в html-4  это был /div -->

            <section>
                отдельный раздел контента
            </section>

            <aside>
                дополнительный контент (находится справа от основного контента)
            </aside>

        </main>

        <aside>
            дополнительный контент (находится справа от основного контента)
        </aside>
    </body>

    <footer>
        самый низ страницы
    </footer>
</html>



<!-- испорт CSS -->
    <head>          
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <head>      <!-- испорт CSS в django -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

                <!-- испорт CSS в flask -->
        <link type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
    </head>



<!-- испорт Java Script, script, noscript -->
    <head>
        <script src="file.js"></script>                                         <!-- испорт Java Script файла в которому можно обращаться -->

        <script src="{{ url_for('static', filename='script.js') }}"></script>   <!-- импорт Java Script в Flask -->

        <script src="{% static 'JS/base.js' %}"></script>                       <!-- испорт Java Script файла в jinja2 -->
    </head>

    <script>
        Name();  // - будет запущена js функция 'Name()' 
    </script>

    <noscript>   // - сообщение выводится ели JS у пользователя отключен (без него сайт нормально работать не будет)
        JS отключен, для корректной работы его нужно включить!
    </noscript>;



<!-- передача значения переменной в js скрипт -->
<div id="header_user" data-autentificated="{{ user.is_authenticated }}" onclick="redirect_to_user_account()">   <!-- например значение - авторизован пользователь или нет -->
<!--                                                                        ^ при клике - вызов функции в скрипте js                                                  
/                                               ^ шаблон django с помошью которого можно узнать состоние авторизации пользователя (да или нет)
/                              ^ название перменной
/                       ^ data - атрибут HTML-элемента, который можно использовать для хранения данных -->
    {% if user.is_authenticated %}
        <h1>Hi {{ user.username }}!</h1>
    {% else %}
        <h1>Log in</h1>
    {% endif %}
</div>

<script> 
function redirect_to_user_account() {
    var auth_status = document.getElementById('header_user').dataset.autentificated;  // находит объект по id и сохраняет его в перменную
    if (auth_status) {
        alert('you are was loged in!')
    }
    else {
        window.location.href = '/accounts/login/';
    }
}
</script>



<!-- импорт другого html файла -->

    {% extend "another.html" %}  <!-- добавить на текущую страницу другой html файл (к примеру для создания шапки и низа которые повторяется на разных страницах)-->

    {% block content %}
        часть в которой будет этой контент страницы после импорта другой страницы
    {% endblock content %} 



<!-- полоса прогресса -->

    Статус: <progress min="0" max="100" value="56кук"></progress>



<!-- ссылки -->

    <a href="https://youtube.com"></a>  <!-- тэг "a" нужен для добавления ссылок в текст по которым можно перейти в новою вкладку -->
    <a href="https://youtube.com" target="_blank"></a>  <!-- при указании target="_blank" ссылка откроется в новом окне -->
    <a href="{% url 'about' %}">About</a>  <!-- добавить гиперссылку на переход к другой html странце -->
    <!-- имя html файла ^          ^ текст нажав по которому можно перейти на другую html страницу -->



<!-- ссылки на оределенную часть страницы -->

    <a href="#s1">Go to section 1</a>  <!-- # - символ указывает что ссылка ведет на ту же самую страницу -->
    <a href="#s2">Go to section 2</a> 

    <h1 id="s1">Section 1</h1>
    <h2 id="s2">Section 2</h2>   



<!-- картинки -->

    <img src="image.name" alt="описание картинки если она не может быть выведена">  <!-- для картинки -->
    <img src="image.name" height="200px" width="200px" alt="">  <!-- картинка с определенными размерами --> 

    <img src="image.name" border="1px" alt="">  <!-- картинка с рамкой в 1 пиксель -->



<!-- аудио и видео -->

    <audio src="audio.mp3" controls>если аудио не может быть выведено, то будет этот текст</audio>

    <audio src="" controls></audio>       <!-- controls - указывает браузеру что нужно отобразить кнопки управление воспроизведением --> 
    <audio src="" muted></audio>          <!-- muted - воспроизведение без звука -->   
    <audio src="" autoplay></audio>       <!-- autoplay - автозапусу звука как только страница запуститься -->
    <audio src="" autoplay loop></audio>  <!-- loop - зацикливание звука -->

    <audio controls>
        <source src="audio.mp3" type="audio/mp3">  <!-- сначала запустится это аудио -->
        <source src="audio.ogg" type="audio/ogg">  <!-- если первое не получилось запустить - запуститься это -->
    </audio>


    <video src="video.mp4" controls>ну тут тоже самое что и аудио</video>

    <video controls>
        <!-- ^ отображает елементы управления видео (ну к примеру плей/пауза/громкость и т.д.) -->
        
        <source src="video.mp4" type="video/mp4">  <!-- сначало будет попытка запустить это видео -->
        <source src="video.ogg" type="video/ogg">  <!-- если первое не работает, то это -->
        видео не поддерживается  <!-- если прошлые два не сработали то просто будет текст -->
    </video>



<!-- формы и input -->

    <!-- варианты отправки данных формой -->
    <form action="https://youtube.com" method="post">...</form>    <!-- метод запроса по которому отправятся данные -->
                                  <!-- method="get" -->     <!-- "get"  - в юрл адресе будут отображатся данные которые ввел пользователь -->
                                                            <!-- "post" - используется для отравки конфиденциальной информации -->
    <!--     ^ после отправки формы пользователя откроется указанная страница-->

    <!-- типы input -->
    <input type="text">
             <!-- ^ name      - имя -->
             <!-- ^ email     - ел. почта -->
             <!-- ^ password  - пароль -->
             <!-- ^ tel       - номер телефона -->

             <!-- ^ sublit    - кнопка подтверждения -->
             <!-- ^ radio     - несколько кнопок на выбор, нажать можно только одну -->
             <!-- ^ checkbox  - несколько кнопок на выбор каждую из которых можно нажать а можно и нет -->
             <!-- ^  -->
             <!-- ^  -->
             <!-- ^  -->
             <!-- ^  -->
             <!-- ^  -->
             <!-- ^  -->

    <!-- label и input -->
    <form>
        <label>Enter name</label>  <!-- label - позволет наживать не только на поле а и на сам текст для активации поля -->
        <input type="name" name="user_name">    <!-- поле для воода имени пользователя -->
        <!--                 ^ атрибут имя которого соответствует названию столбца в БД -->

        <br>    <!-- перенос следующего поля на новую строку -->

        <label>Enter a password</label>
        <input type="password" name="user_password">    <!-- поле для воода пароля (символы будут скрыть ***) -->
    </form>

        <!-- id u for в форме input -->
        <form>
            <input type="text", id="t1", value="None">        <!-- id="..."  - присваевает уникальный id для элемента ввода -->
                                    <!-- ^ если текстовая форма не будет заполнена, будет отправлено это значение по умолчанию -->

        <label for="t1">Enter text</label>  <!-- for="..." - связывает текущий label с input'ом по указанном id -->
    </form>

        <!-- ага, да -->
        <from>
            <input placeholder="имя"/>  <!-- поле для ввода где по умолчанию полупрозраным написано "имя"-->

            <input type="sublit" name="yes" autofocus>  <!-- autofocus - автоматичесски перемещает мышь на кнопку\поле ввода -->

            <input type="sublit" name="yes" required>   <!-- required - указывает что заполнение формы обязательно -->
        </from>
        
        <!-- 2 варианта выбора (выбрать можно только один) -->
        <label>Мужской</label>
        <imput type="radio" name="gender" value="male"></imput> <br>
                                        <!-- ^ значение что отправит форма при выборе этого варианта ответа -->
        <label>Женский</label>
        <imput type="radio" name="gender" value="female"></imput> <br>
                                        <!-- ^ значение что отправит форма при выборе этого варианта ответа -->

        <!-- 2 варианта выбора (выбрать можно сколько угодно) -->
        <label>Мужской</label>
        <imput type="checkbox" name="gender" value="1"></imput> <br>
        <label>Женский</label>
        <imput type="checkbox" name="gender" value="2"></imput> <br>

        <!-- кнопка для подтверждения изменений и отправки их в обработку сервера -->
        <input type="submit" value="Confirm">

        <textarea placeholder="текстовое сообщение"></textarea>    <!-- поле для ввода текста (больше одной строки) -->


    
<!-- интерактив -->
<button onclick="alert('сообщение в отдельном окне')">klick me!</button>  
                <!-- ^ - выводит окно с текстом в скобках -->
    <!-- ^ - срабатывает при нажатии на кнопку-->

<img src="icon.jpg" onclick="alert('you klicked on me?')">  <!-- так же можно делать итерактивными и другие элементы -->

<button onclick="image.src='new_image.png'">New image</button>  <!-- при нажатии на кнопку изображение будет заменено на новое -->



<!-- выпадающее меню -->

        <form>  
            <lable for="ch1">Выбор:</lable>  <!-- нажатие на метку будет выбирать поле формы -->

            <select name="choose" id="ch1"> <!-- форма выбора 1го варианта из выпадающего меню (в Бд отправится значние из 'value' в столбец 'choose') -->
                                <!-- ^ выпадающему меню можно присвоить id -->

                <option value="1"         >Вариант 1</option>
                <option value="2"         >Вариант 2</option>
                <option value="3" selected>Вариант 3</option>
                                <!-- ^ вариант будет отмечен как "по умолчанию" -->
            </select>
        </form>



<!-- блочные и строчные елементы -->

        <!-- блочный елемент div -->
        <div style="background-color: aqua; color: white; padding: 20px">    <!-- задний фон будет залит аква цветом, цвет букв будет белый, размер заднего фона 20px -->
            <p>какой то текст</p>
            <p>и ещё чуть какого то текста</p>
        </div>

        <!-- строчный елемент span -->
        <h2>какое то <span style="color: red">важное</span> сообщение</h2>    <!-- слово "важное будет красного цвета, остальное никак не меняется от обычного" -->



<!-- виды шрифтов и всякие приколы с текстом -->

        <p> обычный текст </p>
        <p><b> текст жирным шрифтом </b></p>
        <p><big> текст крупным шрифтом </big></p>
        <p><i> текст курсивом </i></p>
        <p><u> подчеркнутый текст </u></p>
        <p><small> текст маленьким шрифтом </small></p>
        <p><strong> важный текст (что то среднее между обычным и жирным) </strong></p>
        <p><sub> подстрочный текст </sub></p>
        <p><sup> надстрочный текст </sup></p>
        <p><ins> вставленный текст </ins></p>
        <p><del> зачеркнутый текст </del></p>

        <h> заголовок </h>  <!-- # для создания Заголовка --> 
        <!-- можно использовать до 6 уроней заголовков: --> 
        <h1> большой заголовок </h1>
        <h2> чуть меньше заголовок </h2>  <!-- и т.д. -->

        <p> текст <br> текст, но уже на другой строке </p>  <!-- <br> используется для переноса на новую строку (прямо как /n)-->



<!-- списки -->
<ol> <!-- тег для созания упорядоченного списка -->
    <li>just text</lip>     <!-- 1. пронумерованый пункт-->
    <li> первый пункт </li> <!-- 2. пронумерованный пункт -->
    <li> второй пункт </li> <!-- 3. пронумерованный пункт -->
</ol>

<ul> <!-- тег для созания неупорядоченного списка (нумеруються точками перед началом текста)-->
    <li>just text</li>      <!-- пронумерованый пункт-->
    <li>just text</li>      <!-- пронумерованый пункт-->
    <li>just text</li>      <!-- пронумерованый пункт-->
</ul>



<!-- таблицы -->

<table>    <!-- таблица -->
    <tr> 
        <th> Заголовок для этого стоблца </th>   <!-- th - для создания заголовка -->
    </tr>
    <tr>    <!-- столбец -->
        <td> красный </td>    <!-- колонка -->
        <td> синий </td>
        <td> желтый </td>
    </tr>
    <tr>
        <td> всё ещё красный </td>
        <td colspan="2"> зелёный </td>    <!-- colspan объеденяет указаное количество столбцов в один-->
    </tr>
</table>



<!-- цвет -->

        <h2>какое то <span style="color: rgba(45, 194, 31, 0)">важное</span> сообщение</h2>  <!-- слово "важное будет красного цвета, остальное никак не меняется от обычного" -->

        <h2>
            <font style ="color:aqua">Текст аква цветом</font>  <!-- font - определяет цвет внутри элемента -->
        </h2>

        <body bgcolor="#000000"> </body>  <!-- цвет фона страницы -->

        <button style="background-color: aqua;">Ok</button>  <!-- background-color - придает фону цвев, хорошо подходит для стиля кнопок -->

        <p style="border: 1px rgb(124, 124, 124);">text</p>  <!-- border - добавляет обводку вокруг объекта шириной в 1 пиксель-->



<!-- атрибуты -->

    <header>
        <!--class="nav-right" перемещает ссылку на правую сторону страницы (не как отдельную строку)-->
        <div class="nav-right">
            <a href='% url '...' %'>Something in right side</a>
        </div>
        <!--class="nav-right" перемещает ссылку на правую сторону страницы 
            (будет паралельно с ссылкой что выше, но уже с левой стороны)-->
        <div class="nav-left">
            <a href='% url '...' %'>Something in left side</a>
        </div>
    </header>
        
    <p align="center">  <!-- атрибут для выравнивания текст по центру страницы-->
    <!--        ^ можно ещё использовать rigth, left -->
        здесь центр страницы
    </p>

    <hr width="50px">  <!-- добавить горизонтальную линию шириной в 50 пикселей -->
    <hr width="50%">  <!-- добавить горизонтальную линию шириной в 50 процентов ширины страницы -->